.banner {
    height: 31rem;
    padding-top: 1rem;
    overflow: hidden;
    background-image: url('../../images/glasses-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.banner .banner-container {
    display: flex;
    justify-content: flex-end;
}

.banner .banner-card {
    margin-top: 10rem;
    margin-right: -2rem;
    max-width: fit-content;
    padding: 2.5rem 5rem;
    background-color: white;
}

.banner .banner-card .banner-card-text {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
    .banner {
        height: 22rem;
        padding-top: 0;
    }

    .banner .banner-card {
        top: 5rem;
        right: -6rem;
        padding: 1.75rem 4rem;
    }

    .banner .banner-card .banner-card-text {
        font-size: 1.33rem;
    }
}

@media only screen and (max-width: 640px) {
    .banner {
        background-position: 35%;
    }
}

@media only screen and (max-width: 480px) {
    .banner {
        height: 17rem;
        background-position: 20%;
    }

    .banner .banner-card {
        width: 100%;
        top: 9rem;
        padding: 1rem;
    }

    .banner .banner-card .banner-card-text {
        font-size: 1rem;
    }
}