.info-card {
    max-width: 35%;
    margin-right: 5%;
}

.info-card .info-card-header {
    max-width: 12rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: cadetblue;
    color: white;
}