.info-card {
    width: 35%;
}

.info-card .info-card-header {
    max-width: 12rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: cadetblue;
    color: white;
}

.info-card .info-card-text {
    font-size: 1rem;
}

@media only screen and (max-width: 560px) {
    .info-card {
        width: auto;
    }

    .info-card .info-card-header {
        max-width: none;
        text-align: center;
    }

    .info-card .info-card-text {
        padding: 0 1rem;
        font-size: 0.77rem;
    }
}